<div class="row">
  <div class="col-sm-12">
    <h2>Comments for: <a href="/posts/<%= @post.id %>"><%= @post.title %></a></h2>
    <p><%= @post.description %></p>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12">
      <div class="spacer"></div>
        <h3>Comments:</h3>
        <div class="spacer"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2 text-right comment-meta">
      <p class="author"><%= @comment.author %></p>
              <p><em><%= @comment.updated_at.strftime("%b %d,  %y") %></em>
    </div>

  <div class="col-xs-10 body">
  <ul class="comments-list">
      <li>
        <h4><%= @comment.title %></h4>
        <p><%= @comment.body %></p>
        <p class="text-right"><a href="/posts/<%= @post.id %>/comments/<%= @comment.id %>/edit">Edit</a></p>

      </li>
      </div>
    </div>
  </ul>
</div>